<!DOCTYPE html>
<html>
  <head>
    <title>Salon Finder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h1 class="masthead-brand">Salon Finder</h1>
            </div>
          </div>

          <div class="inner cover">
            
            <p class="lead"> <div class="container">
      <%= yield %>
    </div>
</p>
            <p class="lead">
            
            </p>
          </div>

          
            </div>
          </div>

        </div>

      </div>

    </div>


    
  </body>
</html>
